* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, button {
  width: 200px;
  height: 48px;

}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  height: 100vh;
}