:root {
  --cyan: #5FB4A2;
  --dark-blue: #203A4C;
  --grayish-blue: #33323D;
  --very-light-grey: #FAFAFA;
  --light-grey: #EAEAEB;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  background-color: var(--very-light-grey);
  scroll-behavior: smooth;
}

.portofolio-header {
  color: var(--cyan);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px 200px;
}

img {
  width: 100%;
}

.main-img {
  margin-bottom: 100px;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 40%;
  height: 400px;
}

hr {
  border-top: 1px solid var(--grayish-blue);
  opacity: 0.3;
}

aside h1 {
  font-family: 'Ibarra Real Nova', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: var(--grayish-blue);
}

p {
  font-family: 'Public Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--grayish-blue);
}

aside span {
  font-family: 'Public Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--cyan);
}

aside a {
    display:flex;
    align-self: flex-start;

    padding: 10px 20px;
    border: 1px solid var(--grayish-blue);

    font-family: 'Public Sans', sans-serif;
    font-size:12px;
    letter-spacing: 2px;
    color: var(--grayish-blue);
}

aside a:hover {
  color: var(--very-light-grey);
  background-color: var(--grayish-blue);
}

.apresentacao-projeto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 50%;
  gap: 50px;
}

.apresentacao-projeto h2 {
  font-family: 'Ibarra Real Nova', sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: var(--grayish-blue);
}

.nav-projetos {
  display: flex;
  justify-content: space-between;

  width: 100vw;
  margin: 50px 0;
}

.nav-div {
  display: flex;
  justify-content: space-between;
}

.nav-projetos img {
  align-self: center;

  width: 10%;
  margin: 0 10px;
}

.column-text {
  display: flex;
  flex-direction: column;

  margin: 20px;
}
.nav-div a {
  display:flex;
  align-items: flex-start;

  text-align: left;
  text-decoration: none;
  font-family: 'Ibarra Real Nova', sans-serif;
  font-size:30px;
  letter-spacing: 2px;
  color: var(--grayish-blue);
}

.nav-div p {
  align-self: center;

  font-family: 'Public Sans', sans-serif;
  font-size:12px;
  letter-spacing: 2px;
  color: var(--grayish-blue);
}