.container-home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.7) 100%);
  height: 100vh;
}

.section-movies {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 32px;
}


