.container-counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 1px solid lightgray;
    margin: 10px;

    height: 250px;
    width: 250px;
}