.container-main {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-main form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-main form button {
  margin-top: 30px;
}

.error {
  color: rgb(223, 78, 78);
}

.success {
    color: green;
}
