:root {
  --cyan: #5FB4A2;
  --dark-blue: #203A4C;
  --grayish-blue: #33323D;
  --very-light-grey: #FAFAFA;
  --light-grey: #EAEAEB;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  background-color: var(--very-light-grey);
  scroll-behavior: smooth;
}

main {
  margin: 50px 200px;
}

.home-header {
  color: var(--cyan);
}

.front-page {
  display:flex;

  position:relative;
}

.front-page img {

  
  width: 100%;

  
  position:relative;
  z-index: 0;
  
  object-fit: contain;
}



.front-page h1 {
  display: block;

  width:40%;
  height:60%;
  bottom:0;
  padding: 30px 15px;

  position: absolute;
  z-index: 1;

  font-family: 'Ibarra Real Nova', serif;
  font-size: 40px;
  color: var(--grayish-blue);
}

  .botao-sobremim {
    display: flex;
    justify-content: space-around;

    width:20%;
    height: 8%;
    bottom:0;
    gap: 30px;
    padding: 12px 10px;
    
    position:absolute;
    z-index: 1;

    background-color: var(--dark-blue);
  }  

.opacity-buttom {

  height:100%;
  width: 25%;
  left: 0;
  bottom:0;

  position:absolute;
  z-index: 2;

  background-color:black;
  opacity: 0.1;
}

.botao-sobremim svg {
  stroke: #5FB4A2;

  background-color: inherit;
}

.botao-sobremim p {

  font-family: 'Public Sans', sans-serif;
  font-size: 12px;
  letter-spacing: 3px;

  background-color: inherit;
  color: white; 
}

.botao-sobremim:hover {
  background-color: var(--cyan);
}

.botao-sobre:hover svg {
  stroke:white;
}

.sobre-mim {
    display: flex;
    justify-content: space-between;

    margin: 100px 0;
}

.sobre-mim img {
    display: flex;

    width: 50%;
}

.sobre-mim div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 0px 0px 0px 100px;
}

#sobre-mim-title {
    font-family: 'Ibarra Real Nova', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: var(--grayish-blue);
}

.sobre-mim p {
    padding-right: 10px;

    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--grayish-blue);
}

.sobre-mim a {
    display:flex;
    align-self: center;

    padding: 10px 20px;
    border: 1px solid var(--grayish-blue);

    font-family: 'Public Sans', sans-serif;
    font-size:12px;
    letter-spacing: 2px;
    color: var(--grayish-blue);
}

.sobre-mim div hr {
    border-top: 1px solid var(--grayish-blue);
    opacity: 0.3;
}

.sobre-mim a:hover {
  color: var(--very-light-grey);
  background-color: var(--grayish-blue);
}