.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 10px;

}

.container-count {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 1px solid lightgray;


    width: 200px;
    height: 200px;

}