.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    
    margin-top: 32px;
    padding: 20px;
}

.container > div {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;

}