:root {
  --cyan: #5FB4A2;
  --dark-blue: #203A4C;
  --grayish-blue: #33323D;
  --very-light-grey: #FAFAFA;
  --light-grey: #EAEAEB;
}

.contato-header {
    color: var(--cyan);
}


main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 50px 200px;
}

article {
    display:flex;
    justify-content: space-between;

    width:100%;
    height: 100%;
    margin: 50px 0;
    padding-top: 40px;
    border-top: 1px solid rgba(151, 151, 151, 0.5)
}

article h1 {
    display: flex;

    width: 50%;

    font-family: 'Ibarra Real Nova', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: var(--grayish-blue);
}

article div {
    display:flex;
    flex-direction: column;
    justify-content: space-between;

    width: 50%;
    gap: 20px;
}

article div p {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: var(--grayish-blue);
}


.redes-sociais {
    display:flex;
    justify-content: space-between;

    width: 25%;
    margin-top: 50px;
}

form {
    display:flex;
    flex-direction: column;
    justify-content: space-between;

    width:50%;
    height: 60vh;
}

form div {
    margin: 10px 0;
    width:100%;
    height: 100%;
}

form label {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--grayish-blue);
}

form input {
    width:100%;
    height:100%;

    border: none;
    outline: unset;

    background-color: var(--light-grey);
}

form input:focus {
    border: 1px solid black;
}

form textarea {
    width:100%;
    height:100%;
    border: none;
    background-color: var(--light-grey);
}

form button {
    width: 40%;
    height: 50%;
    margin: 20px 0;

    border:none;
    font-family: 'Public Sans', sans-serif;
    color: var(--very-light-grey);
    background-color: var(--dark-blue);
}

form button:hover {
    background-color: var(--cyan);
}